/*Back to top arrow*/
.back-to-top {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background-color: rgba(76,124,255,1);
    color: #4c7cff;
    border-color: #4c7cff;
    transform: rotate(45deg);

    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);

    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.back-to-top:hover{
  background-color: rgba(76,124,255,0.8);
}

.back-to-top a {
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    font-weight: bold;
}

.back-to-top a i{
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
}

.rule{
  text-align: center;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.rule:hover{
  color:rgba(76,124,255,1);
}
.rule i{
  font-size: 3em;
}
